#donation {
  background-color: $color-light-l;
}
.donation__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 30px;
  flex-wrap: wrap;
  @media (max-width: $tablet-breakpoint) {
    flex-direction: column-reverse;
    gap: 60px;
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 100px;
    padding-left: 20px;
  }
  @media (max-width: $mobile-breakpoint) {
    flex-direction: column-reverse;
    gap: 42px;
    padding-top: 42px;
    padding-bottom: 42px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.donation__image {
  @media (max-width: $mobile-breakpoint) {
    width: 260px;
  }
}
.donation__text {
  display: flex;
  flex-direction: column;
  max-width: 380px;
  gap: 20px;
  @media (max-width: $mobile-breakpoint) {
    justify-content: center;
  }
}
.donation__title {
}
.donation__name {
  display: flex;
  font-family: Georgia;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.06em;
  text-align: left;
  @media (max-width: $mobile-breakpoint) {
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: justify;
    justify-content: center;
  }
}
.donation__account {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: max-content;
  padding: 10px 15px;
  color: $color-dark-l;
  font-family: Georgia;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.06em;
  background-color: $color-primary;
  border-radius: 9px;
  transition: background-color 0.3s ease-in-out;
  &:hover {
    background-color: $color-primary-light;
  }
  @media (max-width: $mobile-breakpoint) {
    align-items: center;
    width: auto;
  }
}
.donation__card-icon {
}
.donation__number {
  @media (max-width: $mobile-breakpoint) {
    display: flex;
    align-items: start;
    font-family: Georgia;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0.06em;
    text-align: left;
  }
}
.donation__disclamer {
  font-family: Arial;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: $color-dark-m;
  @media (max-width: $mobile-breakpoint) {
    text-align: justify;
  }
}